# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. 🙂

In [116]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you’ll―of course―overcome them with what you learned in class! 😉

## Food Choices Data Set

### Load the Data

In [117]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [118]:
df_food.shape

(125, 61)

What are the columns and their types in this data set?

In [119]:
print(df_food.columns)
print(df_food.dtypes)

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')
GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we’d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. …and maybe gender.

Can you remove the other columns?

In [120]:
df_food=df_food[['calories_day','weight']]

What about `NaN`s? How many are there?

In [121]:
df_food.isna().sum()

calories_day    19
weight           2
dtype: int64

We gotta remove those `NaN`s―the entire row.

In [122]:
df_food.dropna()

     calories_day                    weight
1             3.0                       155
2             4.0  I'm not answering this.
3             3.0             Not sure, 240
4             2.0                       190
5             3.0                       190
..            ...                       ...
118           3.0                       140
119           3.0                       185
120           4.0                       156
121           2.0                       180
123           4.0                       135

[104 rows x 2 columns]

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. 🤔

In [123]:
# Fix that.
df_food['weight']=pd.to_numeric(df_food['weight'], errors='coerce')
df_food = df_food.dropna()
df_food

     calories_day  weight
1             3.0   155.0
4             2.0   190.0
5             3.0   190.0
6             3.0   180.0
7             3.0   137.0
..            ...     ...
118           3.0   140.0
119           3.0   185.0
120           4.0   156.0
121           2.0   180.0
123           4.0   135.0

[101 rows x 2 columns]

Now this data seems reasonably clean for our purposes! 😁

Let’s save it somewhere to be shipped off to another teammate. 💾

In [124]:
df_food.to_csv('data/food_updated.csv')

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [125]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
df_salary=pd.read_csv('data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv',delimiter='\t')

Was that hard? 🙃

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [126]:
# Count by hand. I’m dead serious.
df_salary.shape

(28062, 18)

What are the columns and their types?

In [127]:
# Show the column names and their types.
df_salary.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh… Ugh! Give these columns easier names to work with first. 🙄

In [128]:
# Rename ‘em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
df_salary=df_salary.rename(columns={'Timestamp': 'timestamp','How old are you?': 'age','What industry do you work in?':'industry','Job title':'title','If your job title needs additional context, please clarify here:' : 'title_context', "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": 'salary','How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.': 'additional_compensation','Please indicate the currency': 'currency','If your income needs additional context, please provide it here:': 'other_currency','If your income needs additional context, please provide it here:':'salary_context',"What country do you work in?":'country',"If you're in the U.S., what state do you work in?":'state','What city do you work in?': 'city','How many years of professional work experience do you have overall?':'total_yoe','How many years of professional work experience do you have in your field? ':'field_yoe','What is your highest level of education completed?':'education','What is your gender?':'gender','What is your race? (Choose all that apply.)':'race'})

It’s a lot, and that should not have been easy. 😏

You’re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [129]:
# List the unique industries and a count of their instances.
df_salary['industry'].value_counts()

industry
Computing or Tech                        4699
Education (Higher Education)             2464
Nonprofits                               2419
Health care                              1896
Government and Public Administration     1889
                                         ...
Warehousing                                 1
Education (Early Childhood Education)       1
SAAS                                        1
Health and Safety                           1
Aerospace Manufacturing                     1
Name: count, Length: 1219, dtype: int64

In [130]:
df_salary['industry'].value_counts()['Computing or Tech']

np.int64(4699)

That value among the top 5 is what you’re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [131]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
df_salary_tech=df_salary[df_salary['industry']=='Computing or Tech']

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [132]:
# Sanity Check 
df_salary_tech['industry'].value_counts()
#yippie i got it

industry
Computing or Tech    4699
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars 💵 is a euro 💶 or a pound 💷? That sounds like a problem for another day. 🫠

For now, let’s just look at U.S. dollars (`'USD'`).

In [133]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech=df_salary_tech[df_salary_tech['currency']=='USD']
df_salary_tech['currency'].value_counts()

currency
USD    3777
Name: count, dtype: int64

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [134]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
df_salary_tech['country'].value_counts(ascending=False)

country
United States               1576
USA                         1222
US                           412
U.S.                         108
United States of America      90
                            ...
Ghana                          1
Nigeria                        1
ss                             1
Nigeria                        1
Burma                          1
Name: count, Length: 76, dtype: int64

### Clean the Data

Well, we can’t get our answers with what we currently have, so you’ll have to make some changes.

Let’s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value―say, `'US'`, which is nice and short.

In [150]:
# Replace them all with 'US'.
df_salary_tech.loc[df_salary_tech.sort_values(ascending=False, by=['salary']).head(5).index, 'country'] = 'US'
pd.set_option('max_colwidth', 100)
print(df_salary_tech[['timestamp', 'age', 'industry', 'title', 'salary']].head())

             timestamp    age           industry                        title   salary
8   4/27/2021 11:03:01  45-54  Computing or Tech              Systems Analyst  112,000
43  4/27/2021 11:04:04  25-34  Computing or Tech  Principal Software Engineer  187,500
44  4/27/2021 11:04:04  25-34  Computing or Tech         Intelligence Analyst  110,000
46  4/27/2021 11:04:07  35-44  Computing or Tech             Mobile developer  144,600
47  4/27/2021 11:04:09  35-44  Computing or Tech      Product Design Director  200,850

Have a look at the count of each unique country again now.

In [158]:
# Count again.
print(df_salary_tech.sort_values(ascending=False,by=['salary']).head(5)['country'])
print(df_salary_tech.value_counts())

23625    US
22842    US
26519    US
19410    US
12654    US
Name: country, dtype: object
timestamp          age    industry           title  title_context  salary  additional_compensation  currency  If "Other," please indicate the currency here:   salary_context  country  state     city  total_yoe  How many years of professional work experience do you have in your field?  education     gender  race
2/6/2024 21:15:28  18-24  Computing or Tech  sdsd   ds             4       22.0                     USD       1                                                dd              ss       Arkansas  s     5-7 years  11 - 20 years                                                              Some college  Man     Black or African American    1
Name: count, dtype: int64

Did you notice anything interesting?

In [171]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.
us_variations = [
    'United States', 'USA', 'United States of America', 'United States ', 'U.S.',
    'US ', 'usa', 'United states', 'United State of America', 'USA ', 'U.S. ',
    'U.S.', 'us', 'Usa', 'united states', 'Uniyed states', 'U.S.A.', 'America',
    'U.s.', ' US', 'Unite States', 'Us', 'United State', 'UnitedStates', 'U.S', 
    'Usa ', 'United States Of America', 'United States of America ', 'United Stated', 
    'United STates', 'United Stares', 'United States of america', 'Unites States', 
    'U.S.A ', 'United Stateds', 'U.S. ', 'U.S.A', 'united States', 'Us ', 'United States Of America', 
    'united states', 'Uniyed states', 'U S', 'U.S A', 'u.s.', 'u.s', 'US','ss' #all of the us and us adjacent country names
]
df_salary_tech['country'] = df_salary_tech['country'].replace(us_variations, 'U.S.')
df_salary_tech['country'] = df_salary_tech['country'].replace('Nigeria ', 'Nigeria')#nigeria edge case.
df_salary_tech['country'] = df_salary_tech['country'].replace('singapore', 'Singapore')#singapore edge case
df_salary_tech['country'] = df_salary_tech['country'].replace('Australian ', 'Australia')#australia edge case
df_salary_tech['country'] = df_salary_tech['country'].replace(['Danmark','denmark'], 'Denmark')#denmark edge case
print(df_salary_tech['country'].unique())#i think that's all of them??

['U.S.' 'Puerto Rico ' 'Australia' 'Cuba' 'Denmark' 'Canada' 'Italy'
 'International ' 'Israel' 'India' 'Remote (philippines)' 'Singapore'
 'Spain' 'Uruguay' 'Brazil' 'Mexico' 'United Kingdom' 'Canada ' 'ISA'
 'Pakistan' 'New Zealand' 'Poland' 'France' 'Netherlands' 'China'
 'San Francisco' 'Romania' 'Japan' 'Jamaica' 'Thailand' 'Colombia' 'Ghana'
 'Nigeria' 'Burma']

In [172]:

# BONUS CREDIT: if you’ve resolved it, let’s see how well you did by counting the number of instances of each unique value.
df_salary_tech['country'].value_counts()

country
U.S.                    3724
Israel                     5
Canada                     4
Denmark                    3
Australia                  3
Brazil                     2
India                      2
United Kingdom             2
Spain                      2
Singapore                  2
Nigeria                    2
France                     2
New Zealand                2
Poland                     2
Puerto Rico                1
Italy                      1
Cuba                       1
International              1
Canada                     1
Mexico                     1
Remote (philippines)       1
Uruguay                    1
ISA                        1
Netherlands                1
China                      1
Pakistan                   1
San Francisco              1
Romania                    1
Jamaica                    1
Japan                      1
Thailand                   1
Colombia                   1
Ghana                      1
Burma                      1
Name: count, dtype: int64

It’s looking good so far. Let’s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [177]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.
print(df_salary_tech.groupby(['country'])['salary'].min())#this is wrong, ill continue tmr

country
Australia                 130,000
Brazil                    135,200
Burma                        1700
Canada                    125,000
Canada                    115,000
China                      38,526
Colombia                    49200
Cuba                        9,600
Denmark                    103000
France                    100,000
Ghana                         500
ISA                       167,000
India                     100,000
International             108,000
Israel                    100,000
Italy                     148,000
Jamaica                     45000
Japan                      135000
Mexico                     93,000
Netherlands                72,000
New Zealand               145,689
Nigeria                    250000
Pakistan                    7,250
Poland                    155,000
Puerto Rico                80,000
Remote (philippines)       64,000
Romania                    72,120
San Francisco              48,000
Singapore               2,111,538
Spain                     160,000
Thailand                    52000
U.S.                            0
United Kingdom            145,000
Uruguay                    84,000
Name: salary, dtype: object

Well, pooh! We forgot that `salary` isn’t numeric. Something wrong must be fixed.

In [ ]:
# Fix it.

Let’s try that again.

In [ ]:
# Try it again. Yeah!

That did the trick! Now let’s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [ ]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you’ve now reached. What do you notice about Delaware and West Virginia?

Let’s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum―say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you―like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* 😜)